.new-tweet form {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

textarea {
    padding: 10px;
    resize: none;
    border: none;
    border-bottom: 3px solid black;
    background-color: #f4f1ec;
}

/* #tweet-text::placeholder {
    color: red;
} */

.submit-tweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    font-family: "Bungee", sans-serif;
}

button {
    color: #ffffff;
    background-color: #4056a1;
    padding: 5px 10px;
    border: none;
    outline: none;
}

button:hover,
button:focus {
    background-color: #203a73;
}

.counter-red,
#error-message {
    color: red;
}

#error-message {
    font-weight: bold;
    padding-top: 10px;
}

.hide {
    display: none !important;
}
